.register-page {
    margin-top: 0;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    justify-items: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}
.register-container {
    background-color: rgba(var(--focus-background), 1.0);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 500px;    
    height: 600px;
    padding: 20px;

    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: .1fr .1fr .1fr .6fr; 
    gap: 25px; 
}
.register-container label {
    color: rgba(var(--white), .8);
}

.user-register-input, .pass-register-input, .email-input {
    background: rgba(var(--grey-white), .6);
    border: 1px solid rgba(var(--shadow-color), .6);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(var(--shadow-color), .6);
    display: flex;
    width: 100%;
    max-height: 100%;
    position: relative;
    margin-left: 0;
    margin-right: auto; 
    font-size:24px;
    padding: 30px;
    text-decoration: none;
    font-family: var(--pattern-font);
    font-weight: 300;
    color: rgba(var(--black), .6);
    height: 80px;
}
.user-register-input::placeholder, .pass-register-input::placeholder, .email-input::placeholder{
    color: rgba(var(--black), 1.0);
    opacity: 0.30;
    font-family: var(--pattern-font);
    font-weight: 300;
}

.btn-register {
    background-color: rgba(var(--focus-nav), 1.0);
    color: rgba(var(--white), .8);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-register:hover {
    box-shadow: 2px 2px 2px rgba(var(--shadow-color), .8);
}


.bar {
    height: 100%;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr; 
    justify-items: end; 
    align-items: end; 
    background-color: rgba(var(--focus-background), .8);
    box-shadow: 0 0 5px 1px rgba(var(--shadow-color), .8);
}