
.search-container {
    transition: height 1s;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 150px;
    max-width: 930px;
    max-height: 650px;
    background: rgba(var(--grey-white), .6);
    border-radius: 10px;
    border-color: rgba(var(--white), .4);
    border-width: 1px;
}
.input-container {
    display: flex;
    flex-direction: row;
}
.search-input {
    background: transparent;
    border: none;
    display: flex;
    width: 100%;
    max-height: 100%;
    position: relative;
    margin-left: 0;
    margin-right: auto; 
    font-size:24px;
    padding: 30px;
    text-decoration: none;
    font-family: var(--pattern-font);
    font-weight: 300;
    color: rgba(var(--black), 0.60);
    height: 80px;
}
.search-input::placeholder {
    color: rgba(var(--black), 1.0);
    opacity: 0.30;
    font-family: var(--pattern-font);
    font-weight: 300;
}
.search-icon {
    margin-right: -100px;
    height: 80px;
}
.result-manga {
    position: relative;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
/* scrollbar search anime */
/* width */
.result-manga::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .result-manga::-webkit-scrollbar-track {
    background: rgba(var(--white), 1.0); 
  }
   
  /* Handle */
  .result-manga::-webkit-scrollbar-thumb {
    background: rgba(var(--shadow-color), 1.0); 
  }
  
  /* Handle on hover */
  .result-manga::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--shadow-color), 1.0); 
  }
