@import url('https://fonts.googleapis.com/css2?family=Montserrat@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(140deg, rgba(22,219,204,1) 0%, rgba(166,235,239,1) 43%, rgba(231,242,254,1) 100%);
}





