* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: #f5f5f5;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}

/* scrollbar search anime */
/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #FF16A2; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #c3137d; 
}