.nav {
    background-color: #FF16A2;
    opacity: 0.8;
    max-width: 100%;
    max-height: 20%;
    box-shadow: 2px 5px 5px #888888;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav div {
    height: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    color: #fff;
    user-select: none;
}